.header {
    @include mMedia(notMobile) {
        display: none;
    }

    @include mMedia(onlyMobile) {
        display: flex;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;

        z-index: 100;
        background-color: var(--color-bg-block);
    }

    &__wrapper {
        width: 100%;
        padding: 0 12px;
    }
}